@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

nav {
  font-family: "Poppins", sans-serif;
}

.banner {
  /* background-image: url('/hero-bg.jpg'); */
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      /* top color (semi-dark) */ rgba(0, 0, 0, 0.1)
        /* bottom color (same or different) */
    ),
    url("/hero-bg.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* start from top */
  align-items: center; /* center horizontally */
  height: 100%;
  padding-top: 19.1vh; /* push down 20% from top */
  text-align: center;
}

.banner-content h1 {
  color: #fff;
  font-size: 5vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(240, 234, 234, 0.754); /* shadow effect */
}


/* for feature section page */
.vehicle-card {
  transition: all 0.3s ease;
}

.vehicle-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.vehicle-img {
  transition: transform 0.4s ease;
  height: 220px;
  object-fit: cover;
}

.vehicle-card:hover .vehicle-img {
  transform: scale(1.05);
}


.car-banner{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.68),
      /* top color (semi-dark) */ rgba(0, 0, 0, 0.625)
        /* bottom color (same or different) */
    ),
    url("/hero-banner3.jpg");
    height: 35vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  

}
.car-banner-text{
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.car-banner-text h5{
  font-size: 6vh;
}
.car-banner-text p{
  font-size: 3vh;
}

/* for newsletter section page */

.newsletter-section {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 20px;
}

.newsletter-input {
  max-width: 400px;
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid #ccc;
}

.newsletter-input:focus {
  box-shadow: none;
  border-color: #000;
}

.newsletter-form button {
  padding: 12px 25px;
  font-weight: 500;
}

/* for footer section page */

.footer-section {
  background-color: #111;
  color: #fff;
}

.footer-section h5 {
  color: #fff;
}

.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
  color: #bbb;
  transition: 0.3s;
}

.footer-links li:hover {
  color: #fff;
  padding-left: 5px;
}

.footer-icon {
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  color: #bbb;
}

.footer-icon:hover {
  color: #fff;
  transform: translateY(-3px);
}
